/* RenderCSVData.module.css */

.container {
    margin-bottom: 20px; /* Add space below the component */
  }
  
  .renderCSVDataTitle {
    font-weight: bold;
  }
  
  .renderCSVDataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
  }
  
  /* Adding local class names for th, td, and tr */
  .renderCSVDataTh {
    background-color: #f6f6f6; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
    padding: 8px;
    text-align: left;
  }
  
  .renderCSVDataTd {
    border: 1px solid #ddd; /* Light gray border */
    padding: 8px;
  }
  
  .renderCSVDataTr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background */
  }
  