.GainLosstable{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.gain{
    justify-content: center;
    font-size: x-large;
    margin: 10vh;
}

.loss{
    justify-content: center;
    font-size: x-large;
    margin: 10vh;
}

.icon{
    display:inline;
}

.heading{
    font-size: 6vh;
    margin: 6vh;

}