.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.whyans{
    font-size: medium;
    padding-top: 10px;

}

.whyUsSection{
    display: flex;
    padding: 20px;
    align-items:center;
    justify-content: center;
    
}

.logo {
    width: 20vh;
    height: 18vh;
  }

.secAns{
    padding: 3vh;
    align-items:center;
    justify-content:center;

}

.h2_class{
    font-weight: bold;
    font-size:x-large;
}